<div class="container">
    <div class="row">
    <div class="col-xs-4 pull-right">
        <h2> {{ type_message }} Feature Request</h2>
    </div>
    <div class="col-xs-8">
        <div class="input-group">
            <label for="title"> Title </label>
            <input type="text" id="title" class="form-control" placeholder="Title" ng-model="feature.title" required>
        </div>
        <div class="input-group">
            <label for="client"> Client </label>
            <div>
                <select ng-model="feature.client_id" ng-change="setMaxClientPriority(feature.client_id)"  ng-options="client.id as client.name for client in clients"></select>
            </div>
        </div>
        <div class="input-group">  
            <label for="client_priority"> Client Priority </label>
            <div>
                <input type="number" id="client_priority" class="form-control" min="1" max="{{ max_client_priority }}" placeholder="1" ng-model="feature.client_priority">
            </div>
        </div>
        <div class="input-group" ng-show="isSuper">
            <label for="master_priority"> Master Priority </label>
            <div>
                <input type="number" id="master_priority" class="form-control" min="1" max="9999" placeholder="1" ng-model="feature.master_priority">
            </div>
        </div>
        <div class="input-group">  
            <label for="target_date"> Target Date </label>
            <div>
                <input type='text' date-time view="date" min-view="date" format="YYYY-MM-DD" id="target_date" class="form-control" ng-model="feature.target_date" />
            </div>
        </div>
        <div class="input-group">
            <label for="ticket_url"> Ticket URL </label>
            <input type="text" id="ticket_url" class="form-control" placeholder="http://github.com/issues/1000" ng-model="feature.ticket_url">
        </div>
        <div class="input-group">  
            <label for="description"> Product Area </label>
            <div>
                <select ng-model="feature.product_area_id" ng-options="x.id as x.name for x in product_areas"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="description"> Description </label>
            <textarea class="form-control" rows="10" id="description" ng-model="feature.description"></textarea>
            <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"> Markdown Guide </a>
        </div>
        <div class="">
            <button type="submit" class="btn btn-default" ng-click="submitFeature()" ng-show="type_message == 'Edit'"> Save Changes </button>
            <button type="submit" class="btn btn-default" ng-click="submitFeature()" ng-show="type_message == 'Add'"> Add Feature </button>
        </div>
    </div>
    <div class="col-xs-8">
        <br>
        <label> Description Preview </label>
        <div class="well">
            <md ng-model="feature.description"></md>
        </div>
    </div>

    <div>

    </div>
</div>