<div class="container">
    <div class="" >
        <div class="pull-left">
            <!-- <pre> {{ features }} </pre> -->
            <h4> Features </h4>
        </div>

        <div class="pull-right">
            <a type="submit" class="btn btn-default " href="#/feature/create"> Add Feature </a>
        </div>

        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Client</th>
                <th>Client Priority</th>
                <th>Product Area</th>
                <th>Created By</th>
                <th>Target Date</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" ng-repeat="feature in features">
                <td> {{ feature.title }} </td>
                <td> {{ feature.client_name }} </td>
                <td> {{ feature.client_priority }} </td>
                <td> {{ feature.product_area_name }} </td>
                <td> {{ feature.created_by_name }} </td>
                <td data-toggle="tooltip" title="{{ feature.target_date | date: 'fullDate' }}" > {{ feature.target_date | date: 'shortDate'}} </td>
                <td> 
                <button type="button" class="btn btn-default" title="Delete Feature" ng-click="deleteFeature(feature.id)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
                <!-- <td> <code> {{ feature }} </code> </td> -->
            </tr> 
        </tbody>
    </table>
    </div>
</div>
